body{
	margin:4% 20% 0px 20%;
	font-size: 20px;
	font-family: Arial;
	background-color: #181818;
}

p, a{
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

p{
	padding: 5px;
	margin: 0px;
	margin-bottom: 2px;
	color: gray;
}

a{
	text-decoration: none;
	color: #E0E0E0;
}

a:hover{
	color: #0080FF;
}

.directory:hover{
	background-color: rgba(255, 0, 255, 0.2);
}

.file:hover{
	background-color: rgba(0, 255, 0, 0.2);
}

.pull-right{
	float: right;
}

#footer{
	padding-top: 20px;
	text-align: center;
	font-size: 14px;
}

#footer a{
	color: #696969;
}

@media(max-width:1400px) {
	body{
		margin:4% 15% 0px 15%;
	}
}

@media(max-width:1100px) {
	body{
		margin:3% 10% 0px 10%;
	}
}

/* Progressbar Style */

progress {
  -webkit-appearance: none;
  appearance:         none;
  height:             7px;
  width:              100%;
  opacity: 0;
  z-index:-1;
  position: 			   absolute;
	left: 				     50%;
	top: 				      0px;
	-webkit-transform:  translate(-50%, -50%);
	-moz-transform:     translate(-50%, -50%);
	-ms-transform:      translate(-50%, -50%);
	-o-transform:       translate(-50%, -50%);
	transform: 			  translate(-50%, -50%);
}

progress::-webkit-progress-bar {
  background:          #C7C7CC;
}

progress::-webkit-progress-value {
  background:         #007AFF;
   -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

-webkit-box-shadow: 0px 4px 20px 1px rgba(255,0,255,0.4);
-moz-box-shadow: 0px 4px 20px 1px rgba(255,0,255,0.4);
box-shadow: 0px 4px 20px 1px rgba(255,0,255,0.4);
}
